* {
    .engagement-plan-dashboard {
        .engagement-plan {
            .engagement-details-tabs {
                .engagement-plan-meeting-notes {
                    padding: var(--nudge-padding-margin-xl-plus) var(--nudge-padding-margin-xxl);
                    padding-right: 0;
                    display: grid;
                    grid-template-rows: 1fr max-content;
                    grid-gap: var(--nudge-spacing-xxs);
                    height: 100%;
                    .meeting-notes {
                        padding: 0 var(--nudge-padding-margin-md);
                        .meeting-note {
                            display: grid;
                            grid-template-rows: 2.875rem 0;
                            transition: all 2s ease;
                            &.meeting-note-content-selected {
                                grid-template-rows: 2.875rem 1fr;
                            }
                            .meeting-note-header {
                                display: grid;
                                grid-template-columns: max-content 1fr;
                                align-items: center;
                                height: 2.875rem;
                                padding: 0 var(--nudge-padding-margin-xl);
                                color: var(--nudge-color-black-shade01);
                                cursor: pointer;
                                .meeting-note-date-text {
                                    padding: 0 var(--nudge-padding-margin-lg);
                                    font-weight: 400;
                                    font-size: var(--nudge-text-xs);
                                    line-height: 0.625rem;
                                    cursor: inherit;
                                }
                            }
                            .meeting-note-content {
                                overflow: hidden;
                                min-height: 0;
                                .meeting-note-lists {
                                    padding-left: calc(
                                        var(--nudge-padding-margin-2xl) - var(--nudge-padding-margin-xs)
                                    );
                                    padding-bottom: var(--nudge-padding-margin-md);
                                    .meeting-note-item {
                                        display: grid;
                                        grid-template-columns: max-content 1fr max-content;
                                        align-items: center;
                                        height: 2.5rem;
                                        padding: 0 var(--nudge-padding-margin-xl);
                                        color: var(--nudge-color-black-shade01);
                                        border-bottom: 0.0625rem solid;
                                        border-image-source: linear-gradient(
                                            90deg,
                                            #ffffff 0%,
                                            #c9b8ff 46.63%,
                                            #ffffff 100%
                                        );
                                        border-image-slice: 1;
                                        .asset-folder-icon {
                                            height: 1rem;
                                            cursor: pointer;
                                            path {
                                                stroke: var(--nudge-color-blue);
                                            }
                                        }
                                        .file-name {
                                            font-weight: 400;
                                            font-size: var(--nudge-text-xs);
                                            line-height: 0.625rem;
                                            padding: 0 var(--nudge-padding-margin-lg);
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                            cursor: pointer;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .upload-documents {
                        font-weight: 400;
                        font-size: var(--nudge-text-xs);
                        line-height: 0.625rem;
                        color: var(--nudge-color-black-shade01);
                        padding-bottom: var(--nudge-padding-margin-md);
                        display: flex;
                        grid-gap: var(--nudge-padding-margin-lg);
                        align-items: center;
                        .meeting-notes-doucments-icon {
                            height: 0.875rem;
                            transform: rotate(180deg);
                            &:hover {
                                transform: scale(1.1);
                            }
                            path {
                                fill: var(--nudge-color-blue);
                            }
                        }
                    }
                }
            }
        }
    }
}
