* {
    .nudge-button {
        border-radius: 0.375rem;
        height: 2.625rem;
        padding: 0 var(--nudge-padding-margin-lg);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-weight: 600;
        font-size: var(--nudge-text-sm);
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        background-color: var(--nudge-button-bg);
        color: var(--nudge-button-color);
        border: 0.0625rem solid var(--nudge-button-border);
        &:hover {
            background-color: var(--nudge-button-hover-bg); /* static color */
            border-color: var(--nudge-button-hover-border);
        }
        &.nudge-button-disabled {
            background: var(--nudge-button-disabled-bg);
            pointer-events: none;
            color: var(--nudge-button-disabled-color);
            border-color: var(--nudge-button-disabled-border);
        }

        &.nudge-button-primary {
            --nudge-button-bg: var(--nudge-primary-button-bg);
            --nudge-button-color: var(--nudge-primary-button-color);
            --nudge-button-border: var(--nudge-primary-button-bg);
            --nudge-button-hover-bg: var(--nudge-primary-button-hover-bg);
            --nudge-button-hover-border: var(--nudge-primary-button-hover-bg);
            --nudge-button-disabled-bg: var(--nudge-primary-button-disabled-bg);
            --nudge-button-disabled-color: var(--nudge-primary-button-disabled-color);
            --nudge-button-disabled-border: var(--nudge-primary-button-disabled-bg);
        }

        &.nudge-button-cta {
            --nudge-button-bg: var(--nudge-cta-button-bg);
            --nudge-button-color: var(--nudge-cta-button-color);
            --nudge-button-border: var(--nudge-cta-button-bg);
            --nudge-button-hover-bg: var(--nudge-cta-button-hover-bg);
            --nudge-button-hover-border: var(--nudge-cta-button-hover-bg);
            --nudge-button-disabled-bg: var(--nudge-cta-button-disabled-bg);
            --nudge-button-disabled-color: var(--nudge-cta-button-disabled-color);
            --nudge-button-disabled-border: var(--nudge-cta-button-disabled-bg);
        }

        &.nudge-button-outline-primary {
            --nudge-button-bg: var(--nudge-outline-primary-button-bg);
            --nudge-button-color: var(--nudge-outline-primary-button-color);
            --nudge-button-border: var(--nudge-outline-primary-button-border);
            --nudge-button-hover-bg: var(--nudge-outline-primary-button-bg);
            --nudge-button-hover-border: var(--nudge-outline-primary-button-border);
            --nudge-button-disabled-bg: var(--nudge-primary-button-disabled-bg);
            --nudge-button-disabled-color: var(--nudge-primary-button-disabled-color);
            --nudge-button-disabled-border: var(--nudge-primary-button-disabled-bg);
        }
    }
}
