* {
    .nudge-button {
        border-radius: 0.375rem;
        height: 2.625rem;
        padding: 0 var(--nudge-padding-margin-lg);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        font-weight: 600;
        font-size: var(--nudge-text-sm);
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;

        &.nudge-button-primary {
            background-color: var(--nudge-color-blue);
            color: var(--nudge-color-white);
            &:hover {
                background-color: rgba(25, 100, 200, 0.5); /* static color */
            }
        }

        &.nudge-button-disabled {
            background: #999999;
            pointer-events: none;
            color: var(--nudge-color-black-shade03);
        }
    }
}
