* {
    .key-stakeholders {
        .team-members {
            padding: calc(var(--nudge-padding-margin-2xl) + var(--nudge-padding-margin-md))
                calc(var(--nudge-padding-margin-2xl) + var(--nudge-padding-margin-lg));
            border-top: 1px solid;
            border-image-source: linear-gradient(90deg, #ffffff 0%, #c9b8ff 46.63%, #ffffff 100%);
            border-image-slice: 1;
            .team-members-header {
                padding: 0 var(--nudge-padding-margin-lg);
                font-weight: 500;
                font-size: var(--nudge-text-md);
                line-height: 100%;
            }
            .team-members-content {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-gap: var(--nudge-spacing-lg);
                padding-top: var(--nudge-padding-margin-xl);
            }
        }
    }
}
