* {
    .lead-status-lists {
        .lead-status-table-headers,
        .lead-status-table-content-row {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 1fr;
            .lead-status-table-header-cell {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                padding-right: var(--nudge-padding-margin-sm);
            }
        }
        .lead-status-table-headers {
            font-weight: 500;
            font-size: 0.656rem;
            padding: var(--nudge-padding-margin-lg) 0;
            color: var(--nudge-color-black-shade02);
        }
        .lead-status-table-content {
            .lead-status-table-content-row {
                height: 2.625rem;
                border-top: 0.0625rem solid;
                border-image-source: linear-gradient(90deg, #ffffff 0%, #c9b8ff 46.63%, #ffffff 100%);
                border-image-slice: 1;
                &:last-child {
                    border-bottom: 0.0625rem solid;
                }
                .lead-status-table-row-cell {
                    font-weight: 500;
                    font-style: Medium;
                    font-size: var(--nudge-text-xs);
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    color: var(--nudge-color-black-shade02);
                    padding-right: var(--nudge-padding-margin-sm);

                    &.row-cell-flex-start {
                        justify-content: flex-start;
                    }

                    .person-image {
                        height: 2.25rem;
                        width: 2.25rem;
                        margin-left: var(--nudge-padding-margin-md);
                    }
                }
            }
        }
    }
}
