* {
    .stats-dashboard-summary-nudge {
        .stats-dashboard-summary {
            .program-view-widget {
                .program-view-header {
                    font-weight: 400;
                    font-size: var(--nudge-text-xs);
                    color: var(--nudge-color-black-shade01);
                }
                .program-view-lists {
                    .program-view-table-headers,
                    .program-view-table-content-row {
                        display: grid;
                        grid-template-columns: 3.5rem 1fr 1fr 1fr;
                        .program-view-table-header-cell {
                            display: flex;
                            align-items: center;
                            justify-content: flex-end;
                        }
                    }
                    .program-view-table-headers {
                        font-weight: 500;
                        font-size: 0.656rem;
                        padding: 1rem 0;
                        color: var(--nudge-color-black-shade02);
                    }
                    .program-view-table-content {
                        .program-view-table-content-row {
                            height: 3.5rem;
                            border-top: 1px solid;
                            border-image-source: linear-gradient(90deg, #ffffff 0%, #c9b8ff 46.63%, #ffffff 100%);
                            border-image-slice: 1;
                            .program-view-table-row-cell {
                                font-weight: 500;
                                font-style: Medium;
                                font-size: var(--nudge-text-xs);
                                display: flex;
                                align-items: center;
                                justify-content: flex-end;

                                .person-image {
                                    height: 2.25rem;
                                    width: 2.25rem;
                                    margin-left: var(--nudge-padding-margin-md);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
