* {
    .stats-dashboard-summary-nudge {
        .stats-dashboard-summary {
            .executive-metrics {
                margin-bottom: var(--nudge-padding-margin-md);
                margin-top: 2.25rem;
                display: grid;
                grid-template-columns: 1fr 1fr;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 1px;
                    margin: auto;
                    background: linear-gradient(180deg, #ffffff 0%, #c9b8ff 46.63%, #ffffff 100%);
                }
                .summary-lists {
                    &.engageement {
                        border-bottom: 1px solid transparent;
                        border-image-source: linear-gradient(90deg, #ffffff 0%, #c9b8ff 100%);
                        border-image-slice: 1;
                        .summary-lists-items {
                            .summary-list-item {
                                &:nth-child(odd) {
                                    background: linear-gradient(89.92deg, #ffffff 0.07%, #64f288 345.4%);
                                }
                            }
                        }
                    }
                    &.relationship {
                        border-bottom: 1px solid transparent;
                        border-image-source: linear-gradient(270deg, #ffffff 0%, #c9b8ff 100%);
                        border-image-slice: 1;
                        .summary-lists-items {
                            .summary-list-item {
                                &:nth-child(odd) {
                                    background: linear-gradient(90.01deg, #ffffff 2.85%, #cceaff 99.99%);
                                }
                            }
                        }
                    }
                    &.strategic {
                        .summary-lists-items {
                            .summary-list-item {
                                &:nth-child(odd) {
                                    background: linear-gradient(89.92deg, #ffffff 0.07%, #fcba7d 345.4%);
                                }
                            }
                        }
                    }
                    &.business {
                        .summary-lists-items {
                            .summary-list-item {
                                &:nth-child(odd) {
                                    background: linear-gradient(90.01deg, #ffffff 2.85%, #ffdbf6 99.99%);
                                }
                            }
                        }
                    }

                    &:nth-child(odd) {
                        .summary-lists-header {
                            text-align: right;
                        }
                    }
                    &:nth-child(3),
                    &:nth-child(4) {
                        flex-flow: column-reverse;
                    }
                }
            }
        }
    }
}
