* {
    .engagement-plan-dashboard {
        .engagement-plan {
            .engagement-plan-content {
                .engagement-plan-task-list {
                    display: grid;
                    grid-template-rows: 2.5rem 1fr;
                    padding-bottom: var(--nudge-padding-margin-lg);
                    overflow: hidden;
                    .header-content-row-common {
                        display: grid;
                        grid-template-columns: 3fr 1fr 7.875rem 1.5fr;

                        .header-content-row-cell {
                            padding: 0 var(--nudge-padding-margin-lg);
                        }
                        .completion-cell {
                            padding-right: var(--nudge-padding-margin-2xl);
                        }
                    }
                    .header-row {
                        width: 60%;
                        height: 100%;
                        font-weight: 500;
                        font-size: var(--nudge-text-xs);
                        line-height: 100%;
                        color: var(--nudge-color-black-shade02);
                        padding-left: var(--nudge-padding-margin-2xl);
                        .header-row-cell {
                            display: flex;
                            align-items: center;
                        }
                    }
                    .task-list-table-content {
                        display: grid;
                        align-content: flex-start;
                        width: 60%;
                        grid-gap: var(--nudge-spacing-sm);
                        padding-left: var(--nudge-padding-margin-2xl);
                        .table-content-row {
                            padding: var(--nudge-padding-margin-lg) 0;
                            background: var(--nudge-color-beautiful-white);
                            border-radius: 0.5rem;

                            .table-content-row-cell {
                                font-weight: 400;
                                font-size: var(--nudge-text-xs);
                                line-height: 100%;
                                color: var(--nudge-color-black-shade01);
                                display: flex;
                                &.task-name-cell {
                                    line-height: 1rem;
                                    grid-gap: var(--nudge-spacing-sm);
                                    .task-name-actions {
                                        width: 1.25rem;
                                        display: grid;
                                        justify-content: center;
                                        align-content: space-between;
                                        grid-gap: var(--nudge-spacing-xs);
                                        .task-status-icon {
                                            width: 1rem;
                                            line-height: normal;
                                            &.danger-icon {
                                                path {
                                                    fill: var(--nudge-color-red);
                                                }
                                            }
                                            &.completed-icon {
                                                rect {
                                                    stroke: var(--nudge-color-green);
                                                }
                                            }
                                        }
                                    }
                                }
                                &.task-owner-cell {
                                    display: grid;
                                    grid-template-rows: 1.5rem 1fr;
                                    align-items: center;
                                    .owner-details {
                                        display: flex;
                                        grid-gap: var(--nudge-spacing-sm);
                                        align-items: center;
                                        height: 1.5rem;
                                        .profile-details-name {
                                            font-weight: 400;
                                            font-size: var(--nudge-text-xs);
                                            line-height: 100%;
                                        }
                                    }
                                    .notify-text {
                                        height: 100%;
                                        display: flex;
                                        grid-gap: var(--nudge-spacing-sm);
                                        align-items: flex-end;
                                        justify-content: flex-end;
                                        font-weight: 600;
                                        font-size: var(--nudge-text-xxs);
                                        line-height: 100%;
                                        color: var(--nudge-color-shocking-blue);
                                    }
                                }
                                &.completion-cell {
                                    justify-content: end;
                                    height: 1.5rem;
                                    align-items: center;
                                }
                                &.due-date-cell {
                                    height: 1.5rem;
                                    align-items: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
