* {
    .executive-detailed-view {
        height: 100%;
        overflow: hidden;
        box-shadow: 0px 2px 10px 6px #00000005;
        background: var(--nudge-color-white);
        border-radius: 1rem;
        display: grid;
        grid-template-rows: max-content 1fr;
        // position: relative;
        .detailed-view-overall-stats {
            display: grid;
            grid-template-columns: max-content 1fr max-content;
            padding: var(--nudge-padding-margin-lg) var(--nudge-padding-margin-xl-plus);
            border-bottom: 1px solid #f1f1f1;
            .detailed-view-image-name {
                display: flex;
                grid-gap: var(--nudge-padding-margin-lg);
                align-items: center;
                .detailed-view-card-image {
                    height: 3.438rem;
                    width: 3.438rem;
                }
                .executive-name-details {
                    display: grid;
                    align-items: center;
                    height: fit-content;
                    grid-gap: var(--nudge-spacing-xs);

                    .executive-name {
                        font-weight: 500;
                        font-size: var(--nudge-text-sm);
                        line-height: 0.625rem;
                    }
                    .executive-team {
                        font-weight: 400;
                        font-size: var(--nudge-text-xs);
                        line-height: 0.625rem;
                    }
                }
            }
            .detailed-view-executive-actions {
                display: flex;
                align-items: center;
            }
        }
    }
}
