* {
    .profile-details {
        display: flex;
        grid-gap: var(--nudge-padding-margin-lg);
        align-items: center;
        height: 3.438rem;
        .profile-details-image-wrapper {
            position: relative;
            width: 3.438rem;
            height: 3.438rem;
            border-radius: 50%;
            padding: 4px;
            background: white;
            flex-shrink: 0;
            overflow: hidden;
            border: 1px solid #e0e0e0;
            
            .profile-details-image {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: contain;
                background: white;
            }
        }
        .profile-details-image {
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
        .profile-details-name-company {
            display: grid;
            align-items: center;
            height: fit-content;
            grid-gap: var(--nudge-spacing-xs);

            .profile-details-name {
                font-weight: 500;
                font-size: var(--nudge-text-sm);
                line-height: 0.625rem;
            }
            .profile-details-name-team {
                font-weight: 400;
                font-size: var(--nudge-text-xs);
                line-height: 0.625rem;
            }
        }
    }
}
