* {
    .nudge-ai {
        font-family: IBM Plex Sans;
        height: 100%;
        overflow: hidden;
        padding: calc(var(--nudge-padding-margin-md) + var(--nudge-padding-margin-xs)) var(--nudge-padding-margin-sm)
            var(--nudge-padding-margin-xxl) var(--nudge-padding-margin-xl-plus);
        position: inherit;
        .nudge-ai-container {  
            height: calc(100vh - 2 * var(--nudge-spacing-2xl));          
            overflow: hidden;
            box-shadow: 0px 2px 10px 6px rgba(0, 0, 0, 0.0196078431);
            background: var(--nudge-color-white);
            border-radius: 1rem;
            display: grid;
            grid-template-rows: max-content 1fr;
            padding: var(--nudge-spacing-2xl) var(--nudge-spacing-xl);
            .nudge-ai-header {
                font-size: var(--nudge-text-md);
                font-weight: var(--nudge-font-weight-bold);

            }
            .nudge-ai-content {
                margin-top: 16px;
                height: calc(100vh - 16rem);          
                overflow: scroll;
                .suggestions-title {
                    font-size: var(--nudge-text-md);
                    font-weight: var(--nudge-font-weight-bold);
                    margin-bottom: var(--nudge-spacing-xs);
                }
                .list {
                    list-style-type: none;
                    padding-left: 0px;
                    li {
                        margin-bottom: 6px;
                        font-size: var(--nudge-text-xs);
                        color: var(--nudge-color-black-shade02);
                        background-color: var(--nudge-color-light-blue);
                        border-radius: 4px;
                        padding: var(--nudge-spacing-xxs) var(--nudge-spacing-xs);
                        width: fit-content;
                        &.user-message {
                            background-color: var(--nudge-color-light-gray-shade02);
                            color: var(--nudge-color-black-shade01);
                            width: 90%;
                            margin-left: 10%;
                            margin-top: var(--nudge-padding-margin-xl-plus);
                        }
                        &.agent-message {
                            background-color: var(--nudge-color-light-blue);
                            color: var(--nudge-color-black-shade02);
                            width: 95%;
                            margin-top: var(--nudge-padding-margin-xl-plus);
                            padding: var(--nudge-spacing-xs) var(--nudge-spacing-xs);
                            font-size: var(--nudge-text-xs);
                            .events-title {
                                font-size: var(--nudge-text-xs);
                                font-weight: var(--nudge-font-weight-bold);
                                margin-top: var(--nudge-spacing-sm);
                                margin-bottom: var(--nudge-spacing-sm);
                                color: var(--nudge-color-black-shade01);
                             }
                            .events {
                                list-style-type: none;
                                padding: 0px;
                                margin: 0;
                                li {
                                    margin-bottom: var(--nudge-spacing-xs);
                                    font-size: var(--nudge-text-xs);
                                    color: var(--nudge-color-black-shade02);
                                    background-color: var(--nudge-color-light-blue);
                                    border-radius: 4px;
                                    padding: 0;
                                    p {
                                        font-weight: var(--nudge-font-weight-bold);
                                        color: var(--nudge-color-black-shade02);
                                        margin: 0;
                                    }
                                }
                            }
                        }
                    }
                }
                .helper-cta {
                    margin-top: var(--nudge-spacing-lg);
                    font-size: var(--nudge-text-xs);
                    color: var(--nudge-color-lady-blue);
                    background-color: var(--nudge-color-blue-chalk);
                    padding: var(--nudge-spacing-xxs) var(--nudge-spacing-xs);
                    width: fit-content;
                    border-radius: 4px;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .nudge-ai-footer {    
                border: 1px solid #F1F1F1;    
                border-radius: 8px;        
                display: flex;
                align-items: center;
                .input-box {
                    padding: var(--nudge-spacing-xs);
                    border: 0px;
                    font-size: var(--nudge-text-sm); 
                    border-radius: 8px;        
                    width: 100%;
                    resize: none;
                    outline: none;
                    flex: 1;
                    &:focus {
                        outline: none;
                    }
                }
                .icon-container {
                    display: flex;
                    flex-direction: column;
                    margin: var(--nudge-spacing-xxs);
                }
                .icon-button {
                    background: none;
                    border: none;
                    cursor: pointer;
                    padding: var(--nudge-spacing-xs);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 4px 4px 0 0 ;
                    background-color: var(--nudge-color-light-blue);
                    margin-bottom: 1px;
                    &:nth-child(2) {
                        border-radius: 0 0 4px 4px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
        
    }
}
