* {
    .nudge-ai {
        height: 100%;
        overflow: hidden;
        padding: calc(var(--nudge-padding-margin-md) + var(--nudge-padding-margin-xs)) var(--nudge-padding-margin-sm)
            var(--nudge-padding-margin-xxl) var(--nudge-padding-margin-xl-plus);
        position: inherit;
        .nudge-ai-container {  
            height: 100%;          
            overflow: hidden;
            box-shadow: 0px 2px 10px 6px rgba(0, 0, 0, 0.0196078431);
            background: var(--nudge-color-white);
            border-radius: 1rem;
            display: grid;
            grid-template-rows: max-content 1fr;
            padding: var(--nudge-spacing-2xl) var(--nudge-spacing-xl);
            .nudge-ai-header {
                font-size: var(--nudge-text-xxl);
                font-weight: var(--nudge-font-weight-bold);
            }
            .nudge-ai-content {
                margin-top: 16px;
                .suggestions-title {
                    font-size: var(--nudge-text-md);
                    font-weight: var(--nudge-font-weight-bold);
                    margin-bottom: var(--nudge-spacing-xs);
                }
                .list {
                    list-style-type: none;
                    padding-left: 0px;
                    li {
                        margin-bottom: 6px;
                        font-size: var(--nudge-text-xs);
                        color: var(--nudge-color-black-shade02);
                        background-color: var(--nudge-color-light-blue);
                        border-radius: 4px;
                        padding: var(--nudge-spacing-xxs) var(--nudge-spacing-xs);
                        width: fit-content;
                        &.user-message {
                            background-color: var(--nudge-color-light-gray-shade02);
                            color: var(--nudge-color-black-shade01);
                            width: 90%;
                            margin-left: 10%;
                            margin-top: var(--nudge-padding-margin-xl-plus);
                        }
                        &.agent-message {
                            background-color: var(--nudge-color-light-blue);
                            color: var(--nudge-color-black-shade02);
                            width: 95%;
                            margin-top: var(--nudge-padding-margin-xl-plus);
                            padding: var(--nudge-spacing-xs) var(--nudge-spacing-xs);
                            font-size: var(--nudge-text-xs);
                            .events {
                                list-style-type: none;
                                padding: 0px;
                                margin: 0;
                                li {
                                    margin-bottom: var(--nudge-spacing-xs);
                                    font-size: var(--nudge-text-sm);
                                    color: var(--nudge-color-black-shade02);
                                    background-color: var(--nudge-color-light-blue);
                                    border-radius: 4px;
                                    padding: 0;
                                }
                            }
                        }
                    }
                }
                .helper-cta {
                    margin-top: var(--nudge-spacing-lg);
                    font-size: var(--nudge-text-xs);
                    color: var(--nudge-color-lady-blue);
                    background-color: var(--nudge-color-blue-chalk);
                    padding: var(--nudge-spacing-xxs) var(--nudge-spacing-xs);
                    width: fit-content;
                    border-radius: 4px;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .nudge-ai-footer {                
                .input-box {
                    padding: var(--nudge-spacing-sm);
                    border: 1px solid #F1F1F1;
                    border-radius: 4px;
                    font-size: var(--nudge-text-sm);
                    width: 100%;
                    &:focus {
                        outline: none;
                        border-color: var(--nudge-color-lady-blue);
                        box-shadow: 0 0 0 2px var(--nudge-color-blue-chalk);
                    }
                }
            }
        }
        
    }
}
