* {
    .leads-detailed-view {
        height: 100%;
        overflow: hidden;
        box-shadow: 0px 2px 10px 6px #00000005;
        background: var(--nudge-color-white);
        border-radius: 1rem;
        display: grid;
        grid-template-rows: max-content 1fr;
        // position: relative;
        .detailed-view-overall-stats {
            display: grid;
            grid-template-columns: max-content 1fr max-content;
            padding: var(--nudge-padding-margin-lg) var(--nudge-padding-margin-xl-plus);
            border-bottom: 1px solid #f1f1f1;
            .detailed-view-image-name {
                display: flex;
                grid-gap: var(--nudge-padding-margin-lg);
                align-items: center;
                .detailed-view-card-image {
                    height: 3.438rem;
                    width: 3.438rem;
                }
                .leads-name-details {
                    display: grid;
                    align-items: center;
                    height: fit-content;
                    grid-gap: var(--nudge-spacing-xs);

                    .leads-name {
                        font-weight: 500;
                        font-size: var(--nudge-text-sm);
                        line-height: 0.625rem;
                    }
                    .leads-team {
                        font-weight: 400;
                        font-size: var(--nudge-text-xs);
                        line-height: 0.625rem;
                    }
                }
            }
            .detailed-view-leads-actions {
                display: flex;
                align-items: center;
                .create-plan-button {
                    height: 2rem;
                    font-weight: 600;
                    font-size: var(--nudge-text-xxs);
                }
            }
        }
        .detailed-view-back-button {
            position: absolute;
            width: 2.625rem;
            height: 2.625rem;
            border: 0.313rem solid var(--nudge-color-white);
            border-radius: 50%;
            left: 0px;
            top: 0px;
            bottom: 0px;
            margin: auto;
            background-color: var(--nudge-color-blue-chalk);
            display: flex;
            align-items: center;
            justify-content: center;
            .detailed-view-back-button-icon {
                height: 0.625rem;
            }
        }
    }
}
