* {
    .executive-detailed-view {
        .detailed-view-content {
            display: grid;
            grid-template-columns: 10fr 2fr;
            height: 100%;
            overflow: hidden;
        }
    }
}
