* {
    .modal-backdrop {
        background: #6e4d8d66;
    }
    .nudge-modal {
        &.modal {
            .modal-dialog {
                max-width: unset;
                width: 80%;
                .modal-content {
                    border: none;
                }
            }
        }
    }
}
