* {
    .quick-links-container {
        height: 100%;
        display: grid;
        overflow: hidden;
        position: relative;
        padding-top: var(--nudge-padding-margin-2xl);
        padding-left: var(--nudge-text-xs);
        padding-right: var(--nudge-text-xs);
        grid-template-rows: max-content 1fr;
        .selected-indicator-container {
            border-left: 1px solid;
            border-image-source: linear-gradient(0deg, #ffffff 0%, #c9b8ff 46.63%, #ffffff 100%);
            border-image-slice: 1;
            position: absolute;
            left: 0.0625rem;
            height: 100%;
            .selected-indicator {
                position: absolute;
                height: 1rem;
                width: 0.188rem;
                background: var(--nudge-color-purple-shade-02);
                border-radius: 0.25rem;
                left: -2px;
                transition: all 0.3s ease-in-out;
            }
        }
        .quick-links-header-name {
            font-weight: 600;
            font-size: var(--nudge-text-xs);
            color: var(--nudge-color-black-shade01);
            padding-bottom: var(--nudge-padding-margin-xl-plus);
        }
        .quick-links {
            display: grid;
            height: 100%;
            overflow: auto;
            grid-gap: var(--nudge-spacing-lg);
            align-content: flex-start;
            .quick-link {
                font-weight: 400;
                font-size: var(--nudge-text-xs);
                line-height: 0.625rem;
                color: var(--nudge-color-black-shade02);
                height: 2rem;
                display: flex;
                align-items: center;
                padding: 0 var(--nudge-padding-margin-xl-plus);
                cursor: pointer;
                &:hover {
                    background-color: var(--nudge-color-blue-chalk);
                }
            }
        }
    }
}
