@keyframes stats-dashboard {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
* {
    .stats-dashboard-content {
        width: 100%;
        height: 100%;
        overflow: hidden;
        display: grid;
        grid-template-rows: max-content max-content 1fr;
    }
}
