* {
    .engagement-plan-dashboard {
        .engagement-plan {
            .engagement-plan-header {
                display: flex;
                align-items: center;
                border-bottom: 0.0625rem solid var(--nudge-color-medium-seashell);
                padding: 0 var(--nudge-padding-margin-xl-plus);
                justify-content: space-between;

                .header-right-section {
                    display: flex;
                    align-items: center;
                    gap: var(--nudge-spacing-xl);
                }

                .account-relationship {
                    display: grid;
                    align-items: center;

                    .account-relationship-label {
                        font-size: var(--nudge-text-sm);
                        color: var(--nudge-color-black-shade01);
                        font-weight: var(--nudge-font-weight-medium);
                    }

                    .account-relationship-indicator {
                        font-size: var(--nudge-text-md);
                    }
                }

                .manage-task-toggle {
                    display: flex;
                    align-items: center;
                    gap: var(--nudge-spacing-sm);

                    .manage-task-label {
                        font-size: var(--nudge-text-sm);
                        color: var(--nudge-color-black-shade01);
                        font-weight: var(--nudge-font-weight-medium);
                    }

                    .toggle-switch {
                        position: relative;
                        display: inline-block;
                        width: 28px;
                        height: 1rem;

                        input {
                            opacity: 0;
                            width: 0;
                            height: 0;

                            &:checked + .toggle-slider {
                                background-color: var(--nudge-color-shocking-blue);

                                &:before {
                                    transform: translateX(12px);
                                }
                            }
                        }

                        .toggle-slider {
                            position: absolute;
                            cursor: pointer;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: var(--nudge-color-black-shade02);
                            transition: 0.3s;
                            border-radius: 24px;

                            &:before {
                                position: absolute;
                                content: "";
                                height: 12px;
                                width: 12px;
                                left: 2px;
                                bottom: 2px;
                                background-color: white;
                                transition: 0.3s;
                                border-radius: 50%;
                            }
                        }
                    }
                }

                .pause-and-timer-details {
                    display: flex;
                    align-items: center;
                    grid-gap: var(--nudge-spacing-lg);
                    color: var(--nudge-color-black);
                    .remaining-timer {
                        font-weight: 400;
                        font-size: var(--nudge-text-xs);
                        line-height: 0.625rem;
                    }
                    .pause-timer-button {
                        grid-gap: var(--nudge-spacing-xs);
                        .pause-timer-icon {
                            height: 1rem;
                            margin-bottom: 0.125rem;
                        }
                        height: 2rem;
                        font-weight: 400;
                        font-size: var(--nudge-text-xxs);
                    }
                }
            }
        }
    }
}
