* {
    .nudge-chat {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        .nudge-chat-icon {
            height: 2.875rem;
            width: 2.875rem;
        }
    }
}
