* {
    .nudge-chat {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding: 0 var(--nudge-padding-margin-md) var(--nudge-padding-margin-xl) var(--nudge-padding-margin-md);
        .nudge-chat-icon {
            height: 2.875rem;
            width: 2.875rem;
        }
    }
}
