* {
    .stats-dashboard-content {
        .stats-dashboard-header {
            height: 4.5rem;
            display: grid;
            align-items: center;
            position: relative;
            .user-information {
                display: grid;
                grid-gap: var(--nudge-spacing-xxs);
                padding-left: var(--nudge-padding-margin-xl-plus);
                .user-information-title {
                    font-weight: 500;
                    font-size: 0.875rem;
                    color: var(--nudge-color-black-shade01);
                }
                .user-information-subtitle {
                    font-weight: 400;
                    font-size: 0.75rem;
                    color: var(--nudge-color-black-shade02);
                    display: flex;
                    grid-gap: var(--nudge-spacing-xs);
                    align-items: center;
                    line-height: 0.875rem;
                    .user-information-subtitle-indicator {
                        height: 0.5rem;
                        width: 0.5rem;
                        border-radius: 50%;
                        background-color: var(--nudge-color-green);
                    }
                }
            }
            .stats-dashboard-options {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                height: 2.75rem;
                display: flex;
                margin: auto;
                width: fit-content;
                background-color: var(--nudge-color-white);
                border-radius: 0.375rem;
                overflow: hidden;
                box-shadow: var(--nudge-box-shadow);
                .stats-dashboard-option {
                    padding: 0 0.625rem;
                    font-weight: 400;
                    font-size: var(--nudge-text-xs);
                    color: var(--nudge-color-black-shade01);
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    transition: all 0.5s ease-in-out;
                    &:hover {
                        background-color: var(--nudge-color-purple-shade-01);
                        font-weight: 500;
                        color: var(--nudge-color-white);
                    }
                    &.stats-dashboard-option-selected {
                        background-color: var(--nudge-color-purple);
                        font-weight: 500;
                        color: var(--nudge-color-white);
                    }
                }
            }
        }
    }
}
