@use "@assets/css-variables/variables.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

:root {
  height: 100%;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  font-family: IBM Plex Sans;
}

body,
#root,
.app-container {
  margin: 0;
  height: 100%;
}

div {
  box-sizing: border-box;
}
