* {
    .leads-dashboard {
        // height: 100%;
        height: calc(100vh - 2 * var(--nudge-padding-margin-md));
        display: grid;
        grid-template-columns: 70% 30%;
        justify-content: space-between;
        .executive-dashboard, .nudge-ai {
            display: grid;
            grid-gap: var(--nudge-spacing-lg);
            grid-template-rows: max-content max-content;
        }
    }
}
