@keyframes nudge-dashboard {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

* {
    .smooth-content-load {
        will-change: opacity;
        opacity: 0;
        animation-name: nudge-dashboard;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }
    .nudge-dashboard {
        padding: var(--nudge-padding-margin-xxl);
        padding-bottom: 0;
        background-image: url("@assets/images/stats-background.png");
        width: 100%;
        height: 100%;
        overflow: hidden;
        box-sizing: border-box;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: 5.25rem 1fr 0rem;
        // grid-gap: var(--nudge-spacing-lg);
        // .nudge-ai {
        //     display: none;
        // }
        transition: all 0.3s ease-in-out;
        &.chat-ai-opened {
            grid-template-columns: 5.25rem 1fr 25rem;
            .nudge-ai {
                opacity: 1;
            }
        }
        .nudge-dashboard-content {
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: grid;
            // grid-template-columns: 1fr 400px;
        }
    }
}
