.overflow-container {
    position: relative;
    height: calc(100% - 0.625rem);
    overflow: hidden;

    &.has-overflow {
        &:hover {
            .scroll-bar {
                display: block;
            }
        }
    }

    .overflow-content {
        overflow-y: auto;
        height: 100%;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    .scroll-bar {
        position: absolute;
        right: 0.375rem;
        top: 0;
        width: 0.375rem;
        height: 100%;
        border-radius: 0.25rem;
        overflow: hidden;
        display: none;

        .thumb {
            width: 100%;
            background: #ccc;
            border-radius: 4px;
            position: relative;
            top: 0;
        }
    }
}
