* {
    .leads-stats {
        height: 100%;
        overflow: hidden;
        box-shadow: 0px 2px 10px 6px #00000005;
        background: var(--nudge-color-white);
        border-radius: 1rem;
        display: grid;
        grid-template-rows: max-content 1fr;
        .leads-overall-stats {
            display: flex;
            padding-left: calc(var(--nudge-padding-margin-2xl) - var(--nudge-padding-margin-xs));
            padding-top: calc(var(--nudge-padding-margin-xl-plus) + var(--nudge-padding-margin-xs));
            padding-bottom: var(--nudge-padding-margin-xl);
            grid-gap: calc(var(--nudge-spacing-lg) + var(--nudge-spacing-xxs));
            .leads-overall-stat {
                display: flex;
                height: 1.125rem;
                align-items: flex-end;
                grid-gap: var(--nudge-spacing-sm);
                .leads-overall-stat-value {
                    font-weight: 500;
                    font-style: Medium;
                    font-size: var(--nudge-text-xxl);
                    line-height: 1.125rem;
                }
                .leads-overall-stat-label {
                    font-weight: 400;
                    font-size: 0.656rem;
                    line-height: 0.625rem;
                }
            }
        }
        .leads-lists {
            padding: var(--nudge-padding-margin-xl);
            padding-top: 0px;
            height: 100%;
            display: grid;
            grid-gap: var(--nudge-spacing-lg);
            align-content: flex-start;
            .leads-list-card {
                padding-top: var(--nudge-padding-margin-lg);
                background: var(--nudge-color-beautiful-white);
                border-radius: 0.5rem;

                .overall-details {
                    display: grid;
                    grid-template-columns: max-content 1fr;
                    grid-gap: var(--nudge-spacing-md);
                    align-items: center;
                    padding-bottom: var(--nudge-padding-margin-lg);
                    border-bottom: 1px solid var(--nudge-color-light-gray);
                    width: calc(100% - 1.5rem);
                    margin: auto;
                    .leads-list-card-image {
                        height: 3.438rem;
                        width: 3.438rem;
                    }
                    .leads-details-action {
                        display: flex;
                        justify-content: space-between;
                        .leads-name-details {
                            display: grid;
                            align-items: center;
                            height: fit-content;
                            grid-gap: var(--nudge-spacing-xs);

                            .leads-name {
                                font-weight: 500;
                                font-size: var(--nudge-text-sm);
                                line-height: 0.625rem;
                            }
                            .leads-team {
                                font-weight: 400;
                                font-size: var(--nudge-text-xs);
                                line-height: 0.625rem;
                            }
                        }
                        .leads-actions {
                            height: 1.75rem;
                            display: flex;
                            align-items: center;
                            grid-gap: var(--nudge-spacing-md);
                            .nudge-button {
                                height: 100%;
                                font-weight: 400;
                                font-size: 0.656rem;
                                line-height: 0.625rem;
                            }
                        }
                    }
                }
                .leads-card-details {
                    width: calc(100% - 1.5rem);
                    margin: auto;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                    .leads-capital-detail-item {
                        padding: var(--nudge-padding-margin-lg);
                        color: var(--nudge-color-black-shade01);
                        .leads-capital-detail-item-header {
                            font-weight: 400;
                            font-size: var(--nudge-text-xxs);
                            line-height: 0.625rem;
                            color: var(--nudge-color-black-shade02);
                        }
                        .leads-capital-detail-list {
                            font-weight: 500;
                            font-size: var(--nudge-text-xs);
                            display: grid;
                            grid-gap: var(--nudge-spacing-sm);
                            list-style: none;
                            margin: 0;
                            padding: 0;
                            padding-top: var(--nudge-padding-margin-lg);
                            .leads-capital-detail-list-item {
                                display: flex;
                                align-items: center;
                                height: 0.625rem;
                                grid-gap: var(--nudge-spacing-xxs);
                                .leads-stats-up-icon {
                                    height: 0.5rem;
                                    width: 0.5rem;
                                }
                            }
                        }
                        .leads-capital-detail-ratings {
                            display: flex;
                            grid-gap: var(--nudge-spacing-xxs);
                            padding-top: var(--nudge-padding-margin-lg);
                            .leads-capital-detail-rate-indictor {
                                height: 0.375rem;
                                width: 0.375rem;
                                border-radius: 50%;
                                background: var(--nudge-color-metallic-grey);
                                &.rate-indictor-selected {
                                    background: var(--nudge-color-green);
                                }
                            }
                        }
                    }
                }
                .leads-capital-tags {
                    display: flex;
                    grid-gap: var(--nudge-spacing-xs);
                    padding: var(--nudge-padding-margin-lg) var(--nudge-padding-margin-xxl);
                    border-top: 0.0625rem solid var(--nudge-color-white);
                    .leads-card-tags {
                        height: 1rem;
                        font-weight: 400;
                        font-size: 0.625rem;
                        line-height: var(--nudge-text-xxs);
                        color: var(--nudge-color-lady-blue);
                        background: var(--nudge-color-blue-chalk);
                        display: flex;
                        align-items: center;
                        border-radius: 1rem;
                        padding: 0 var(--nudge-padding-margin-md);
                    }
                }
            }
        }
    }
}
