* {
    .engagement-plan-dashboard {
        height: 100%;
        overflow: hidden;
        padding: calc(var(--nudge-padding-margin-md) + var(--nudge-padding-margin-xs)) var(--nudge-padding-margin-sm)
            var(--nudge-padding-margin-xxl) var(--nudge-padding-margin-xl-plus);
        position: relative;

        // &::before {
        //     content: " ";
        //     position: absolute;
        //     background: radial-gradient(#29f72d 2.88%, #0c9057 98.14%);
        //     height: 400px;
        //     width: 400px;
        //     backdrop-filter: blur(218px);
        //     left: 0px;
        //     bottom: 0;
        //     right: 0;
        //     margin: auto;
        //     z-index: -1;
        // }
        .engagement-plan {
            box-shadow: 0px 2px 10px 6px #00000005;
            background: var(--nudge-color-white);
            border-radius: 1rem;
            height: 100%;
            display: grid;
            grid-template-rows: 4.5rem 1fr;
        }
    }
}
