* {
    .stats-dashboard-summary-nudge {
        .stats-dashboard-summary {
            display: grid;
            grid-template-rows: max-content 1fr;
            overflow: hidden;
            .summary-widget {
                .summary-widget-header {
                    display: flex;
                    height: 2.75rem;
                    grid-gap: var(--nudge-spacing-md);
                }
                &.executive-metrics-widget {
                    .summary-widget-header {
                        .summary-widget-icon {
                            width: 3.25rem;
                        }
                    }
                }
                .summary-stats {
                    display: grid;
                    align-content: space-between;
                    .summary-stats-value {
                        font-weight: 700;
                        font-size: calc(var(--nudge-text-sm) * 2);
                        line-height: 100%;
                        color: var(--nudge-color-black-shade01);
                    }
                    .summary-stats-name {
                        font-weight: 400;
                        font-size: var(--nudge-text-xs);
                        line-height: 0.625rem;
                        color: var(--nudge-color-black-shade02);
                    }
                }
            }
        }
    }
}
