* {
    .stats-dashboard-summary-nudge {
        .stats-dashboard-summary {
            .summary-stats-widget {
                .summary-stats-widget-header {
                    display: flex;
                    height: 2.75rem;
                    grid-gap: var(--nudge-spacing-md);
                }
                &.executive-metrics {
                    width: 24.125rem;
                    .summary-stats-widget-header {
                        .summary-stats-widget-icon {
                            width: 3.25rem;
                        }
                    }
                }
                .summary-stats {
                    display: grid;
                    align-content: space-between;
                    .summary-stats-value {
                        font-weight: 700;
                        font-size: calc(var(--nudge-text-sm) * 2);
                        line-height: 100%;
                    }
                    .summary-stats-name {
                        font-weight: 400;
                        font-size: var(--nudge-text-xs);
                        line-height: 0.625rem;
                    }
                }
            }
        }
    }
}
