* {
    .stats-dashboard-content {
        .stats-dashboard-summary-nudge {
            display: grid;
            grid-template-columns: 1fr 4.25rem;
            overflow: hidden;
            height: 100%;
        }
    }
}
