* {
    .nudge-checkbox {
        width: 1rem;
        height: 1rem;
        border-radius: 0.188rem;
        border: 0.0625rem solid var(--nudge-color-black-shade01);
        background: transparent;
    }
}
