* {
    --nudge-color-white: #fff;
    --nudge-color-black: #000;
    --nudge-color-black-shade01: #343434;
    --nudge-color-black-shade02: #707070;
    --nudge-color-green: #4da828;
    --nudge-color-red: #ff0000;
    --nudge-color-smoke: #f2f2f2;
    --nudge-color-purple: #9673ff;
    --nudge-color-purple-shade-01: #a588ff;
    --nudge-color-blue: #1e53ff;

    --nudge-box-shadow: 0px 6px 8px 5px rgba(0, 0, 0, 0.0392156863);
}
