* {
    --nudge-color-white: #fff;
    --nudge-color-black: #000;
    --nudge-color-black-shade01: #343434;
    --nudge-color-black-shade02: #707070;
    --nudge-color-green: #4da828;
    --nudge-color-red: #ff0000;
    --nudge-color-smoke: #f2f2f2;
    --nudge-color-purple: #9673ff;
}
