* {
    --nudge-text-xs: 0.75rem; /* 12px */
    --nudge-text-sm: 0.875rem; /* 14px */
    --nudge-text-md: 1rem; /* 16px */
    --nudge-text-lg: 1.125rem; /* 18px */
    --nudge-text-xl: 1.25rem; /* 20px */
    --nudge-text-xxl: 1.5rem; /* 24px */
    --nudge-text-2xl: 2rem; /* 32px */

    --nudge-font-weight-normal: 400;
    --nudge-font-weight-bold: 500;
}
