* {
    --nudge-padding-margin-0: 0rem; /* 0px */
    --nudge-padding-margin-xs: 0.125rem; /* 2px */
    --nudge-padding-margin-sm: 0.25rem; /* 4px */
    --nudge-padding-margin-md: 0.5rem; /* 8px */
    --nudge-padding-margin-lg: 0.75rem; /* 12px */
    --nudge-padding-margin-xl: 1rem; /* 16px */
    --nudge-padding-margin-xl-plus: 1.25rem; /* 20px */
    --nudge-padding-margin-xxl: 1.5rem; /* 24px */
    --nudge-padding-margin-2xl: 2rem; /* 32px */
}
