* {
    --nudge-spacing-xxs: 0.25rem; /* 4px  */
    --nudge-spacing-xs: 0.5rem; /* 8px  */
    --nudge-spacing-sm: 0.625rem; /* 10px */
    --nudge-spacing-md: 0.875rem; /* 14px */
    --nudge-spacing-lg: 1rem; /* 16px */
    --nudge-spacing-xl: 1.5rem; /* 24px */
    --nudge-spacing-2xl: 2rem; /* 32px */
    --nudge-spacing-3xl: 2.5rem; /* 40px */
    --nudge-spacing-4xl: 3rem; /* 48px */
    --nudge-spacing-5xl: 4rem; /* 48px */
}
